@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-diagonal {
  clip-path: none;
}

/* Apply slant only at md and up (768px+) */
@media (min-width: 768px) {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  }
}
